<table class="profile" summary="Survey information">
  <tr>
    <td class="main">
      <h1 align="center">
        <%= "Total Results"%>
      </h1>
	    Description: <%= @survey.description %>
		<br><br>
				<% unless @questions.empty? %>
		        <table class="questions" summary="survey questions">
		          		<% for q in @questions do%>
							(<%= @counter = @counter + 1 %>) <%= q.content%> <br>
							<% @results = q.results.all %>
							<% @count = 0 %>
							Answers: 
							<% for r in @results do%>
								<%= r.score %> 
								<% @count = @count + r.score%>
							<% end %> 
                            <br>SUM = <%= @count %>
							, AVG = <%= q.results.count != 0?(@count.to_f / q.results.count.to_f).round(1):0%>
							<br>
							<br>
						<% end %>
		        </table>
		      <% end %>
		</p>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @survey.name %><br />
      <strong>URL</strong> <%= link_to survey_path(@survey), @survey %><br />
      <strong>Questions</strong> <%= @survey.questions.count %>
	  <br><br><strong><%= session[:name]%> </strong>
      <br><%= link_to "Change User", root_path %>
      <br><br><%= link_to "Back to Surveys", surveys_path %>
    </td>
  </tr>
</table>
